.project-div{
    margin: 1%;
    margin-top: 2%;
    height: 1000px;
    border: 3px solid rgba(0,0,0,0.2);
}

.project-header{
    background-color: rgba(50, 50, 50, 0.541) ;
    position: relative;
    height: 100px;
    display: flex;
    color: whitesmoke;
}

#login-opts{
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    right: 0px;
    height: 98px;
    width: 250px;
}

.asset-display{
    border: 1px solid rgba(0,0,0,0.2);
    width: 21%;
    margin-left: 10px;
    padding-left: 1%;
    margin-top: 1%;
}

#asset-info{
    margin-top: 3%;
}

.selected-asset-display{
    border: 1px solid rgba(0,0,0,0.2);
    width: 21%;
    margin-left: 50px;
    padding-left: 1%;
    margin-top: 1%;
    background-color:rgba(90, 199, 109, 0.521);
}